<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.xjyq.mapper.PersonMapper">

    <insert id="createPerson">
        insert into person
        values (#{personId}, #{tags}, #{remark}, #{personName}, #{faceUrl})
    </insert>

    <delete id="deletePerson" parameterType="java.lang.Integer">
        delete from person where id in
        <choose>
            <when test="personIds!=null and personIds.size() > 0">
                <foreach collection="personIds" item="personId" open="(" separator="," close=")">
                    #{personId}
                </foreach>
            </when>
            <otherwise>
                ('')
            </otherwise>
        </choose>
    </delete>

    <update id="updatePerson">
        update person
        <set>
            <if test="tags != null and tags != ''">
                tags=#{tags},
            </if>
            <if test="personName != null and personName != ''">
                person_name=#{personName},
            </if>
            <if test="remark != null and remark != ''">
                remark=#{remark},
            </if>
            <if test="avatar != null and avatar != ''">
                face_url=#{avatar},
            </if>
        </set>
        where id = #{personId}
    </update>

    <update id="deleteAvatar">
        update person
        set face_url=#{avatar}
        where id = #{personId}
    </update>

    <select id="readPersonById" resultType="com.young.xjyq.entity.Person">
        select *
        from person
        where id = #{personId}
    </select>

    <select id="readAllPerson" resultType="com.young.xjyq.entity.Person">
        select *
        from person
    </select>

</mapper>